
  body::-webkit-scrollbar {
    width: 6px;
  }

  body::-webkit-scrollbar-track {
    background: #20242d;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #01eefe;
    border-radius: 50px;
    cursor: pointer !important;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #596070;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body{
    background-color: #20242d;
    scroll-behavior: smooth !important;
  }

.transition-two-second{
    transition: all 0.2s ease-in-out;
}

.transition-three-second{
    transition: all 0.3s ease-in-out;
}

.transition-five-second{
  transition: all 0.5s ease-in-out;
}

.transorm-scale:hover{
    transform: scale(1.2);
}

.transorm-scale1:hover{
    transform: scale(1.1);
  }
  
  .shadow:hover{
    box-shadow: #01eefe 0px 22px 70px 4px;
  }
  
  
  .number_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /*  */
  /*  */

  .client_box:nth-last-child(2),
  .client_box:nth-last-child(3),
  .client_box:nth-last-child(5),
  .client_box:nth-last-child(4){
    border-bottom: 1px solid #596070;
  }
  
  .client_box:nth-last-child(8),
  .client_box:nth-last-child(7),
  .client_box:nth-last-child(6),
  .client_box:nth-last-child(5),
  .client_box:nth-last-child(4),
  .client_box:nth-last-child(3),
  .client_box:nth-last-child(2),
  .client_box:nth-last-child(1)
  {
    border-left: 1px solid #596070;
  }
  
  .animated_box{
    z-index: 1;
    position: relative;
    overflow: hidden;
  }
  .animated_box::after{
    transition: all 180ms;
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    border-right: 0;
    border-top: 0;
    border-color: #01eefe;
    border-width: 2px;
    border-left: 0;
    left: 0;
    bottom: 0px;
    z-index: 0;
    transform: translateX(0%);
    opacity: 0;
  }
  
  .animated_box::before{
    transition: all 130ms;
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    border-right: 0;
    border-bottom: 0;
    border-color: #01eefe;
    border-width: 2px;
    border-left: 0;
    left: 0;
    top: 0px;
    z-index: 0;
    opacity: 0;
    transition-delay: 180ms;
    transform: translateX(-100%);
  }
  
  .animated_box:hover::after{
    opacity: 1;
    border-left: 2px solid #01eefe;
    height: 100%;
  }
  
  .animated_box:hover::before{
    transform: translateX(0);
    opacity: 1;
    
    animation: BeforeClassHeight 100ms ease-in-out 330ms 1 forwards ;
  }
  
  /* Animated After Class Animation */

  @keyframes BeforeClassHeight {
    100%{
      border-right: 2px solid #01eefe;
      height: 100%;
    }
  }
  
  .llll{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 20s linear infinite;
  }
  
  .remove_margin{
    margin: 0px !important;
  }
  
  .hover_shadow:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  html,
    body {
      position: relative;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


/*  */
/* Responsiveness */
/*  */


@media ( max-width: 500px ) {
  .responsive{
    padding-left:22px ;
  }
}
@media ( max-width: 400px ) {
  .responsive{
    padding-left:8px ;
  }
  }
@media ( max-width: 1030px ) {
  .client_hidden{
    display: none !important;
  }
  .client_block{
    display: block !important;
  }
}
@media (max-width:400px) {
  .input-responsive{
    flex-direction: column;
  }
  .image{
    width: 300px;
  }
}